*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
  width: 100%;
 border-radius:50%;
 height: 100%;
 background-color: aqua;
 
}

.container:hover{
    background-color: bisque;
}


section{
    
    padding: 2%;
    margin: 130px;
    align-items: center;
    justify-items: center;
    
}
 
div{
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 10px;     
    

}
 
.cajas{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    justify-content: center;
    padding: 20px;
    bottom: 350px;
}

    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 10px;     
      

}



 

